#rua_container {
  .change_button {
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 1px;
    border: 1px solid;
    cursor: pointer;
    color: #0d6efd;

    &.advanced {
      color: darkblue;
      display: none;
    }

    &.hide {
      display: none;
    }

    &:active,
    &.active {
      opacity: 50%;
      transition: all 0.2s;
    }
  }

  &:hover .change_button {
    display: block;
  }
}

img.rua_fadeout {
  box-sizing: border-box;
  padding: 20px;
  transition: all 2s ease-out;
}

/* v2ex */
#Main .header .fr a img {
  width: 73px;
  height: 73px;
}

td[width="48"] img {
  width: 48px;
  height: 48px;
}
