#rua_container {
  .change_button {
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 1px;
    border: 1px solid;
    cursor: pointer;
    color: #0d6efd;
    z-index: 10001;

    &.more {
      color: darkblue;
      display: none;
    }

    &.hide {
      display: none;
    }

    &:active,
    &.active {
      opacity: 50%;
      transition: all 0.2s;
    }
  }

  &:hover .change_button {
    display: block !important;
  }

  .rua_menu {
    position: absolute;
    box-sizing: border-box;
    min-width: 160px;
    max-width: 260px;
    padding: 4px 0;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 10002;

    &.hide {
      display: none;
    }
  }

  .rua_menu_item {
    display: block;
    width: 100%;
    padding: 4px 8px;
    box-sizing: border-box;
    text-align: left;
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.4;
    color: #333333;

    &:hover {
      background: #f0f0f0;
    }

    &.rua_menu_close {
      border-top: 1px solid #e5e5e5;
      margin-top: 4px;
      padding-top: 6px;
      color: #666666;
    }
  }
}

img.rua_fadeout {
  /*
  box-sizing: border-box;
  padding: 45%;
  */
  opacity: 10%;
  transition: all 1s ease-out;
}

[data-replace-ugly-avatars*="v2ex.co"] {
  /* v2ex post detail page */
  /* The size of the image must be specified since its style is set as `float: right` */
  #Main .header .fr a img {
    width: 73px;
    height: 73px;
  }

  /* v2ex comments */
  /* The size of the image must to be specified, as its width is not defined */
  td[width="48"] img {
    width: 48px;
    height: 48px;
  }
}
